{% extends "maestra.html" %}
{% block titulo %}
Agregar parametro
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column is-one-third">
            <h3 class="is-size-3">Agregar parametro</h3>
            <form action="{{url_for('guardar_parametro')}}" method="post">
                <label for="idParametro">idParametro:</label>
                <input required type="text" class="input" placeholder="idParametro" name="idParametro" id="idParametro">
                <label for="valorParametro">valorPArametro</label>
                <input required type="text" class="input" placeholder="valorParametro" name="valorParametro" id="valorParametro">
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('parametros')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}