<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Provisión de fondos</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<!--
<section class="section">
  <div class="container">
      <h1 class="title is-4 is-spaced">
        <style> p {color: #26b72b;} </style> <p>Calculadora provisión de fondos </p> </style>
      </h1>
  </div>
</section>
-->
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="https://github.com/juanhermira" target="_blank" class="navbar-item">
      <img alt="calculadora_hipoteca"
           src="https://github.com/juanhermira/CRUD_MySQL/blob/main/calculadora_hipoteca.png?raw=true"
           style="max-height: 160px" />
    </a>
    <h1 class="title is-4 is-spaced">
      <style> p {color: #26b72b;} </style><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Calculadora provisión de fondos </p> </style>
    </h1>
    <button class="navbar-burger is-warning button" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </button>
  </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="https://www.bancosantander.es/particulares" target="_blank" class="button is-primary">
            <strong>Ayuda y soporte</strong>
          </a>
        </div>
      </div>
    </div>
</nav>
    {%block contenido %} {% endblock %}
</body>
